
# Playwright
node_modules/
allure-report
allure-results
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.env
.env.dev
.env.qa
.env.staging
.env.prod
.env.example