name : Sub Branch PR and Push

on : 
    schedule :
        - cron :  '0 9 * * 0'
    push : 
        branches : [Qms-Pranav, Qms-Shubham]
    pull_request :
        branches : [Qms-Pranav, Qms-Shubham]
    workflow_dispatch :

jobs :
    run-sub-branch :
        runs-on : ubuntu-latest

        steps : 
        #1 Checkout Code
         - name : Checkout code
           uses : actions/checkout@v4

         - name : Set up node
           uses : actions/setup-node@v4
           with :
             node-version : '18'
             cache : 'npm'

         - name : Install dependencies
           run : npm ci

         - name : Install playwright
           run : npx playwright install --with-deps chromium

         - name : Run Tests 
           run : npm run test
           env : 
            BASE_URL : http://opensource-demo.orangehrmlive.com
            ENV : qa
            HEADLESS : true
            TIMEOUT : 3000